.mainContact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #252934;
}

.innerWrapp {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.question {
  color: rgb(0, 128, 160);
  font-size: 1.7rem;
  height: 5%;

  -webkit-animation: enterLeft 0.5s linear;
  animation: enterLeft 0.5s linear;
  position: relative;
}

.formWrapp {
  width: 30%;
  min-height: 26.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px;
  margin-bottom: 1.25rem;

  -webkit-animation: popUp 1s linear;
  animation: popUp 1s linear;
  position: relative;
}

.error {
  color: red;
  font-size: 1rem;
}

.name {
  width: 100%;
  height: 2.5rem;
  background-color: rgb(27, 36, 47);
  border: none;
  outline: none;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-size: 1.3rem;
  color: white;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1.875rem rgb(27, 36, 47) inset !important;
  -webkit-text-fill-color: white !important;
}

.message {
  width: 100%;
  height: 13.125rem;
  background-color: rgb(27, 36, 47);
  border: none;
  outline: none;
  padding: 0.625rem;
  font-size: 1.3rem;
  color: white;
}

.sendBtn {
  width: 8.125rem;
  height: 3.125rem;
  background-color: transparent;
  border: 0.125rem solid white;
  font-size: 1.3rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: rgb(0, 128, 160);
}

.footer {
  height: 25%;
  width: 100%;
  background-color: rgb(27, 36, 47);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.footName {
  color: rgb(255, 255, 255, 0.5);
  margin-right: 0.313rem;
}

.footDate {
  color: rgb(0, 128, 160, 0.5);
}

.scrollUp {
  width: 3.75rem;
  height: 3.75rem;
  background-color: rgb(0, 128, 160);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50%;
  right: 7.813rem;
  cursor: pointer;
  border: none;
}

.iconUp {
  transform: scale(1.5);
  color: white;
}

.iconUp:hover {
  transform: scale(2);
}

@keyframes enterLeft {
  0% {
    left: calc(30% - 10%);
    opacity: 0.3;
  }
  50% {
    left: calc(30% - 20%);
    opacity: 0.6;
  }
  100% {
    left: calc(30% - 30%);
    opacity: 1;
  }
}

@keyframes popUp {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 96.875rem) {
  .question {
    font-size: 1.4rem;
  }
  .name,
  .message,
  .sendBtn,
  .footer {
    font-size: 1rem;
  }
  .sendBtn {
    width: 6.25rem;
    height: 1.875rem;
  }
  .scrollUp {
    width: 2.5rem;
    height: 2.5rem;
  }
  .iconUp {
    scale: (1.5);
  }
  .formWrapp {
    min-height: 25rem;
  }
  .footer {
    height: 20%;
  }
}
