.main {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navBar {
  width: 100%;
}

.divider {
  height: 1.25rem;
  background-color: transparent;
}

.myFeatures {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.featureWrapp {
  min-width: 12.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.feature {
  background-color: rgb(233 65 65);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.563rem;

  width: 6.25rem;
  height: 7.5rem;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  transform: rotate(90deg);
}

.icon {
  transform: rotate(270deg) scale(2);
}

.featureDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featureDetails h1 {
  color: rgb(93, 93, 93);
  font-size: 1.8rem;
  font-weight: 500;
}

.featureDetails h3 {
  color: rgb(129, 129, 129);
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
}

.mySkills {
  width: 100%;
  height: 34.375rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 6.25rem;
}

.sect {
  height: 100%;
  width: 40.625rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.imgWrapp {
  width: 21.875rem;
  height: 18.75rem;
  clip-path: polygon(50% -20%, 100% 25%, 100% 75%, 50% 125%, 0 75%, 0 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectQ {
  color: rgb(66, 66, 66);
  font-size: 2rem;
  margin: 1.25rem;
}

.sectBody {
  text-align: center;
  line-height: 1.563rem;
  font-size: 1.2rem;
  color: rgba(46, 46, 46, 0.7);
  width: 34.375rem;
}

.skillWrapp {
  width: 100%;
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.skillName {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 65, 65);
  color: white;
}

.skillNum {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgray;
}

.skillColorWrapp {
  height: 100%;
  width: 90%;
  display: flex;
}

.skillColor {
  height: 100%;
  background-color: rgb(0, 128, 160);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillPercent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  color: rgb(107, 107, 107);
}

.flipIcon {
  -webkit-animation: flips 0.5s linear;
  animation: flips 0.5s linear;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
}

.textOpacity {
  -webkit-animation: opacitys 0.5s linear;
  animation: opacitys 0.5s linear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.sectEnterRight {
  -webkit-animation: enterRight2 0.5s linear;
  animation: enterRight2 0.5s linear;
  position: relative;
}

.sectEnterLeft {
  -webkit-animation: enterLeft 0.5s linear;
  animation: enterLeft 0.5s linear;
  position: relative;
}

.imgRotate {
  -webkit-animation: flips1 0.5s linear;
  animation: flips1 0.5s linear;
}

.colorAnim {
  -webkit-animation: enterRight1 0.3s linear;
  animation: enterRight1 0.3s linear;
  position: relative;
}

.navBar {
  -webkit-animation: goDown 0.5s linear;
  animation: goDown 0.5s linear;
}

@keyframes enterRight2 {
  0% {
    right: calc(24% - 8%);
  }
  50% {
    right: calc(24% - 16%);
  }
  100% {
    right: calc(24% - 24%);
  }
}

@keyframes enterRight1 {
  0% {
    width: 0%;
  }
  25% {
    width: 20%;
  }
  50% {
    width: 40%;
  }
  75% {
    width: 60%;
  }
  100% {
    width: 90%;
  }
}

@keyframes enterLeft {
  0% {
    left: calc(24% - 8%);
  }
  50% {
    left: calc(24% - 16%);
  }
  100% {
    left: calc(24% - 24%);
  }
}

@keyframes flips {
  0% {
    transform: rotateZ(360deg);
  }
  25% {
    transform: rotateZ(270deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(90deg);
  }
}

@keyframes flips1 {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacitys {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 78.125rem) {
  .myFeatures {
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    justify-content: center;
  }
  .featureWrapp {
    width: 35%;
  }
  .feature {
    width: 5rem;
    height: 6.25rem;
    transform: rotate(0deg);
  }
  .icon {
    transform: scale(1);
  }
  .featureDetails h1 {
    font-size: 1.5rem;
  }
  .featureDetails h3 {
    width: 50%;
    font-size: 1rem;
  }
  .imgWrapp {
    width: 15.625rem;
    height: 12.5rem;
  }
  .sectQ {
    font-size: 1.5rem;
  }
  .sectBody {
    font-size: 1rem;
    width: 18.75rem;
  }
  .skillWrapp {
    width: 80%;
    font-size: 1rem;
  }
}
