<div class="mainWrapper">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100"
    rel="stylesheet"
  />
  <p id="head1" class="header">Welcome to</p>
  <p id="head2" class="header" style="color: rgb(233 65 65)">Momen Alanagreh</p>
  <p id="head3" class="header">Portfolio</p>
  <div id="head4" class="header1">
    <p>Hello, I'm</p>
    <p style="color: rgb(233 65 65); margin-left: 0.625rem">Momen Alanagreh.</p>
  </div>
  <div id="head4" class="header1 header2">
    <p>I'm a Senior Angular Web Developer.</p>
  </div>

  <button
    id="head5"
    color="transparent"
    aria-label="Example icon button with a delete icon"
    (mouseenter)="iconDown()"
    (mouseleave)="iconUp()"
    (click)="scrollDown()"
  >
    <div>View my work</div>
    <mat-icon class="expandIcon">expand_less</mat-icon>
  </button>

  <div class="light x1 extra"></div>
  <div class="light x2"></div>
  <div class="light x3 extra"></div>
  <div class="light x4"></div>
  <div class="light x5 extra"></div>
  <div class="light x6"></div>
  <div class="light x7 extra"></div>
  <div class="light x8"></div>
  <div class="light x9 extra"></div>

  <div class="light1 x10"></div>
  <div class="light1 x11 extra"></div>
  <div class="light1 x12"></div>
  <div class="light1 x13 extra"></div>
  <div class="light1 x14"></div>
  <div class="light1 x15 extra"></div>
  <div class="light1 x16"></div>
  <div class="light1 x17 extra"></div>
  <div class="light1 x18"></div>
</div>
