<div class="mainWrapper">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100"
    rel="stylesheet"
  />
  <!-- <div class="image">
    <img src="../../../assets/image.png" alt="" class="img" />
  </div> -->
  <p id="head1" class="header">Welcome to</p>
  <p id="head2" class="header" style="color: rgb(233 65 65)">Momen Alanagreh</p>
  <p id="head3" class="header">Portfolio</p>
  <div id="head4" class="header1">
    <p>Hello, I'm</p>
    <p style="color: rgb(233 65 65); margin-left: 10px">Momen Alanagreh.</p>
  </div>
  <p id="head5" class="header2" style="color: rgb(255, 255, 255)">
    I'm a front-end web developer.
  </p>

  <button
    id="head5"
    color="transparent"
    aria-label="Example icon button with a delete icon"
    (mouseenter)="iconDown()"
    (mouseleave)="iconUp()"
    (click)="scrollDown()"
  >
    <div>View my work</div>
    <mat-icon class="expandIcon">expand_less</mat-icon>
  </button>

  <div class="light x1 extra"></div>
  <div class="light x2"></div>
  <div class="light x3 extra"></div>
  <div class="light x4"></div>
  <div class="light x5 extra"></div>
  <div class="light x6"></div>
  <div class="light x7 extra"></div>
  <div class="light x8"></div>
  <div class="light x9 extra"></div>

  <div class="light x10"></div>
  <div class="light x11 extra"></div>
  <div class="light x12"></div>
  <div class="light x13 extra"></div>
  <div class="light x14"></div>
  <div class="light x15 extra"></div>
  <div class="light x16"></div>
  <div class="light x17 extra"></div>
  <div class="light x18"></div>
</div>
