.mainProjects {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(236, 235, 235);
}

.space {
  height: 1.875rem;
  width: 100%;
}

.projects {
  width: 100vw;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  overflow-y: hidden;
}

.categorys {
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 0.063rem solid rgb(93, 93, 93);
  padding-right: 1.875rem;
  padding-left: 1.875rem;
  position: relative;

  -webkit-animation: goUp 0.5s linear;
  animation: goUp 0.5s linear;
}

.category {
  width: 6.25rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: rgb(93, 93, 93);
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-right: 0.625rem;
}

.category:hover {
  border-bottom: 0.125rem solid rgb(233, 65, 65);
}

.listWrapp {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 1.875rem;
  overflow-y: auto;
}

.projectWrapp {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.063rem 0.063rem 0.313rem rgb(141, 141, 141);
  margin-right: 1.25rem;
  cursor: pointer;
  margin-bottom: 1.25rem;
  border-radius: 0.313rem;
  position: relative;
  background-color: white;

  -webkit-animation: imgGoUp 0.6s linear;
  animation: imgGoUp 0.6s linear;
}

.projectWrapp1 {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.25rem;
  cursor: pointer;
  margin-bottom: 1.25rem;
  border-radius: 0.313rem;
}

.projectImg {
  width: 90%;
  height: 90%;
}

.projectImgCover {
  width: 20rem;
  height: 20rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: default;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.nameWrapp {
  width: 15.625rem;
  height: 2.5rem;
  font-size: 1.563rem;
  color: black;
  line-height: 1.875rem;
  text-align: center;
  position: relative;

  -webkit-animation: goDown 0.2s linear;
  animation: goDown 0.2s linear;
}

.btnWrapp {
  width: 12.5rem;
  height: 3.125rem;
  border: 0.188rem solid rgb(233, 65, 65);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(233, 65, 65);
  font-size: 1.563rem;
  cursor: pointer;
  background-color: white;
  position: relative;

  -webkit-animation: goUp 0.2s linear;
  animation: goUp 0.2s linear;
}

.btnWrapp:hover {
  background-color: rgb(233, 65, 65);
  color: white;
}

.projectDetails {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}

.exitBtn {
  outline: none;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 1.875rem;
  cursor: pointer;
  position: absolute;
  top: 6%;
  right: 3%;
}

.exitBtn:hover {
  font-size: 2.188rem;
}

.moveBtnR {
  outline: none;
  border: none;
  background-color: transparent;
  color: black;
  transform: scale(1);
  cursor: pointer;
  position: absolute;
  top: 6.5%;
  right: 7%;
  font-size: 1.125rem;
}

.moveBtnR:hover {
  transform: scale(1.5);
}

.moveBtnL {
  outline: none;
  border: none;
  background-color: transparent;
  color: black;
  transform: scale(1);
  cursor: pointer;
  position: absolute;
  top: 6.5%;
  right: 13%;
  font-size: 1.125rem;
}

.moveBtnL:hover {
  transform: scale(1.5);
}

.projectImg1 {
  height: 77%;
  width: 50%;
  border-radius: 0.313rem;
  cursor: default;
}

.projectDetailText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 77%;
  background-color: rgb(236, 235, 235);
  color: black;
  padding-left: 2.5rem;
  padding-top: 0.625rem;
}

.detailTitle {
  width: 95%;
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detailTitle1 {
  width: 50%;
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.detailTitleDesc {
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  line-height: 1.563rem;
}

.detailTitleRes {
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0.625rem;
  width: 95%;
  min-height: 50%;
  line-height: 1.563rem;
}

.fName {
  font-size: 1.4rem;
  font-weight: 500;
}

.lName {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin-left: 0.625rem;
  font-weight: bold;
}

.descDetails {
  font-size: 1.1rem;
  color: rgb(83, 83, 83);
}

.resWrapper {
  overflow-y: auto;
  margin: 0px;
}

@keyframes goDown {
  0% {
    top: -18%;
    opacity: 0.2;
  }
  25% {
    top: -14%;
    opacity: 0.4;
  }
  50% {
    top: -10%;
    opacity: 0.6;
  }
  75% {
    top: -6%;
    opacity: 0.8;
  }
  100% {
    top: -2%;
    opacity: 1;
  }
}

@keyframes goUp {
  0% {
    bottom: -18%;
    opacity: 0.2;
  }
  25% {
    bottom: -14%;
    opacity: 0.4;
  }
  50% {
    bottom: -10%;
    opacity: 0.6;
  }
  75% {
    bottom: -6%;
    opacity: 0.8;
  }
  100% {
    bottom: -2%;
    opacity: 1;
  }
}

@keyframes imgGoUp {
  0% {
    bottom: -100%;
    opacity: 0.2;
  }
  25% {
    bottom: -75%;
    opacity: 0.4;
  }
  50% {
    bottom: -50%;
    opacity: 0.6;
  }
  75% {
    bottom: -25%;
    opacity: 0.8;
  }
  100% {
    bottom: 0%;
    opacity: 1;
  }
}

@keyframes opacitys {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 109.375rem) {
  .detailTitle,
  .detailTitle1,
  .detailTitleDesc,
  .detailTitleRes {
    font-size: 1.3rem;
  }
  .fName {
    font-size: 1.2rem;
  }
  .lName {
    font-size: 1rem;
  }
  .descDetails {
    font-size: 1rem;
  }
  .category {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 81.25rem) {
  .moveBtnL {
    right: 16%;
  }
}

@media screen and (max-width: 50rem) {
  .moveBtnL {
    right: 20%;
  }
}
